<html>
    <head>
    </head>
    <body>
        {{>header}}
        <div class="container">
            <div class="row">
                <h1>Placeflip</h1>
                <div class="">
                    {{{ body }}}
                </div>
            </div>
        </div>
        
        {{>globalscripts}}
    </body>
</html>