<html>
    <head>
    </head>
    <body>
        <div class="container">
            {{>header}}
            <div class="row">
                <div class="container">
                    {{{ body }}}
                </div>
            </div>
        </div>
        
        {{>globalscripts}}
    </body>
</html>