<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="css/all.css" rel="Stylesheet"></link>
        <link href="css/layout.css" rel="Stylesheet"></link>
        <link href="css/controls.css" rel="Stylesheet"></link>
    </head>
    <body style='display:none'><div class="t" id="app"></div>
        <div id="sessionContainer" style="display:none">{{data.user.name}}</div>
        <div id="userContainer" style="display:none">{{data.userJson}}</div>
        {{>footerscripts}}
    </body>
</html>