<h2>Sign up now</h2>
<div>
    So you're about to join... You must be a brave pirate.
</div>
<br />
<form method="post">
    <table>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text" name="email" />
            </td>
        </tr>
        
        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="name" />
            </td>
        </tr>
        
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type="password" name="password" />
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                <br />
                <button type="submit">Sign Up</button>
            </td>
        </tr>
    </table>
</form>
