.chat-message
{
    padding:5px;
    background:#f9f9f9;
    border:1px #f0f0f0 solid;
    border-radius: 5px;
}

td{
    padding:15px
}

.chat-messages-container
{
    height: 300px;
    overflow-y: scroll
}

.chat-message{
    padding: 5px
}   