.chat-message
{
    padding:5px;
    
    border-radius: 5px;
}

td{
    padding:15px
}

.chat-messages-container
{
    height: 300px;
    overflow-y: scroll
}

.chat-message{
    padding: 5px
}   

.chat-inputs-container
{
    width:100%;
}

.chat-inputs-container ._-textcell
{
    width:100%;
}

.chat-inputs-container ._-textcell input
{
    width:100%;
}