.chat-message
{
    padding:5px;
    
    border-radius: 5px;
}

td{
    padding:15px
}

.chat-messages-container
{
    height: 300px;
    overflow-y: scroll
}

.chat-message{
    padding: 5px
}   

.chat-inputs-container
{
    width:100%;
}

.chat-inputs-container ._-textcell
{
    width:100%;
}

.chat-inputs-container ._-textcell input
{
    width:100%;
}

.chat-typing
{
    color: #c0c0c0
}


.chat-main-container{
    width:100%
}

 table, table td{
    border: 1px solid #f0f0f0;
}

.chat-main-container .left{
    padding:15px 0px 0px 20px;
    width:20%;
    vertical-align:top;
    background:#f0f0f0
}
.chat-main-container .right{
    width:80%
}

.chat-main-container left{
    width:20%
}

.chat-main-container right{
    width:80%
}